<form ng-submit="ctrl.save()">
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control" id="first_name" ng-model="ctrl.profile.first_name">
  </div>
  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" id="last_name" ng-model="ctrl.profile.last_name">
  </div>
  <div class="form-group">
    <label for="email_name">Email</label>
    <input type="email" class="form-control" id="email_name" ng-model="ctrl.profile.email">
  </div>
  <div class="form-group">
    <input type="submit" value="Save" class="btn btn-success">
  </div>
</form>