<ul class="list-unstyled sidebar-list" ng-controller="SideBarController as ctrl">
  <li><a ng-class="{'active': ctrl.currentLink=='home'}" href="/"><i class="fa fa-home"></i> Home</a></li>
  <li><a ng-class="{'active': ctrl.currentLink=='calendar'}" href="/calendar"><i class="fa fa-calendar"></i> Calendar</a></li>
  <li><a ng-class="{'active': ctrl.currentLink=='profile'}" href="/profile"><i class="fa fa-user"></i> Profile</a></li>
</ul>